<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    <link rel="manifest" href="/manifest.webmanifest">

<meta name="theme-color" content="#1565C0">

<link rel="icon" href="/img/icon-192.png">
</head>

<body>

<div class="contenido">

    <h1>⚙ Configuración</h1>

    <h2>👤 Perfil del estudiante</h2>

    <form id="formPerfil">

        <input type="text" id="nombre" placeholder="Nombre completo">

        <input type="text" id="instituto" placeholder="Instituto">

        <input type="text" id="bachillerato" placeholder="Bachillerato">

        <button type="submit">

            Guardar Perfil

        </button>

    </form>

    <br>

    <h2>Apariencia</h2>

    <button id="modoOscuro">

        🌙 Activar / Desactivar modo oscuro

    </button>

    <br><br>

    <label>

        Color principal

    </label>

    <input type="color" id="colorPrincipal" value="#1565C0">

    <br><br>

    <h2>Respaldo</h2>

    <button id="exportar">

        💾 Exportar datos

    </button>

    <br><br>

    <input type="file" id="importar">

    <br><br>

    <button id="borrarTodo">

        🗑 Borrar toda la información

    </button>

    <br><br>

    <a th:href="@{/}">

        ← Volver al inicio

    </a>

</div>

<script th:src="@{/js/configuracion.js}"></script>

<script>

if("serviceWorker" in navigator){

    window.addEventListener("load",()=>{

        navigator.serviceWorker.register("/sw.js")

        .then(()=>{

            console.log("Service Worker registrado");

        })

        .catch(error=>{

            console.log(error);

        });

    });

}

</script>

</body>

</html>